
<br>
<div class="bootstrap-wrapper" class="wg">
    <div class="container">
        <div class="row" style="margin-top: 40px;" >
            <div class="col-md-6 offset-md-3">
                <div class=" app_left">
                    <br>
                    <br>
                    <br>
                    <br>
                    <h1 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;color:tomato;font-size:70px;">Quiz</h1>
                    <p style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-size:20px;">Cette application consiste  en un quiz informatique. 
                <br> Celui-ci vous vous permettra  de tester vos connaissances<br> et d’améliorer vos compétences informatiques.</p>
                
<br>
<br>
                <div class="container ">
                 <button mat-raised-button color="warn" 
                 >Learn More</button>
              </div>       
                 </div>
                <div class="conainer text-center">
                    <img src="../../../assets/7605882.jpg" height="570px" width="600px" 

                    alt="" />

              
           
               
        </div>
          
                </div>
                </div>
                </div>
                </div>